main {
  margin: 0 14.17%;
}
main img {
  cursor: pointer;
}
main .cart .cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 50px 0 50px 0;
  border-top: 1px dashed rgba(63, 78, 101, 0.3);
  border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
}
main .cart .cartItem .cartItemImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 281px;
  min-height: 191px;
}
main .cart .cartItem .cartItemImg img {
  max-width: 281px;
  max-height: 191px;
}
main .cart .cartItem .cartItemDesk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
  gap: 10px;
}
main .cart .cartItem .cartItemDesk .cartItemDeskDesk {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
}
main .cart .cartItem .cartItemDesk .cartItemDeskTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #111111;
}
main .cart .cartItem .cartItemQty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 44px 0 44px;
}
main .cart .cartItem .cartItemQty button {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 198, 80, 0.3)), color-stop(97.25%, rgba(254, 202, 110, 0.3)));
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  width: 34px;
  height: 23px;
  cursor: pointer;
}
main .cart .cartItem .cartItemPrice {
  width: 113px;
  padding: 0 44px 0 44px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
  white-space: nowrap;
}
main .flexSubm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .flexSubm .cartSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 192px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}
main .flexSubm .totalPrice {
  width: 154px;
  height: 39px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}

@media screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }
  main {
    margin: 0 10px;
  }
  main .cart .cartItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  main .cart .cartItem .cartItemDesk {
    width: 100%;
  }
  main .cart .cartItem .cartItemDesk .cartItemDeskTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  main .cart .cartItem .cartItemMove {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  main .cart .cartItem .cartItemMove .cartItemQty {
    padding: 0;
  }
  main .cart .cartItem .cartItemMove .cartItemPrice {
    padding: 0;
  }
  main .cart .cartItem .cartItemMove img {
    width: 59px;
    height: 59px;
  }
  main .flexSubm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
  }
  main .flexSubm .totalPrice {
    width: auto;
  }
  .footer {
    display: none;
  }
}