main {
  margin: 0 14.17%;
}

.hzlFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 10px;
  margin-top: 18px;
}
.hzlFilter .hzlItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #3F4E65;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
          box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  padding: 18px 23px 18px 23px;
}

.flexMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  gap: 108px;
}
.flexMain .flexItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexMain .filter {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
}
.flexMain .filter .filterFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.flexMain .filter .filterFlex .titleFilter {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin-top: 30px;
}
.flexMain .filter .filterFlex .search {
  position: relative;
}
.flexMain .filter .filterFlex .search input {
  height: 59px;
  width: 100%;
  padding: 13px 10px 13px 20px;
  border-radius: 40px;
  color: #EDEDED;
  background: #EDEDED;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  border: none;
}
.flexMain .filter .filterFlex .search .searchIcon {
  position: absolute;
  top: 10px;
  right: 5%;
}
.flexMain .filter .filterFlex .priceRange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.flexMain .filter .filterFlex .priceRange input {
  width: 100px;
  height: 23px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 198, 80, 0.3)), color-stop(97.25%, rgba(254, 202, 110, 0.3)));
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1000px;
  border: none;
}
.flexMain .filter .filterFlex .filterChekBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flexMain .filter .filterFlex .filterChekBox input {
  border: 0.5px solid #3F4E65;
  border-radius: 1px;
}
.flexMain .filter .filterFlex .filterChekBox label {
  margin-left: 10px;
}
.flexMain .filter .filterFlex .searchDelimiter {
  opacity: 0.3;
  border: 1px dashed #3F4E65;
  margin: 20px 0 20px 0;
}
.flexMain .filter .filterFlex .aceptFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexMain .filter .filterFlex .aceptFilter .formButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 169px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  color: white;
}
.flexMain .filter .filterFlex .showBrands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  gap: 10px;
}
.flexMain .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 21px;
  width: 100%;
}
.flexMain .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  padding: 45px 23px 26px 23px;
  gap: 10px;
  margin: 0;
  width: calc((100% - 63px) / 3);
}
.flexMain .items .item .imgItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flexMain .items .item img {
  max-width: 200px;
}
.flexMain .items .item .itemFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexMain .items .item .itemFlex .inCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}
.flexMain .items .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  width: 100%;
  margin-top: 60px;
  cursor: pointer;
}
.flexMain .items .pages .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 198, 80, 0.3)), color-stop(97.25%, rgba(254, 202, 110, 0.3)));
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  width: 35px;
  height: 35px;
}
.flexMain .items .pages :first-child {
  margin-right: 26px;
}
.flexMain .items .pages :last-child {
  margin-left: 26px;
}

@media screen and (max-width: 600px) {
  header {
    display: none;
  }
  main {
    margin: 10px;
    gap: 37px;
  }
  main h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0 0 -15px 0;
  }
  main .hzlFilter {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  main .hzlFilter .hzlItem {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  main .flexMain {
    width: 100%;
  }
  main .flexMain .filter {
    display: none;
  }
  main .flexMain .items .item {
    width: 100%;
  }
  main .flexMain .items .pages {
    margin-top: 35px;
  }
  footer {
    display: none;
  }
}