@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
}

.adaptivHeader {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 277px;
}
.header .hrDesk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header .hrDesk .hrFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18.33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.dw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(63, 78, 101, 0.2);
  border-bottom: 1px solid rgba(63, 78, 101, 0.2);
  padding: 24px 277px;
}
.dw .catalogBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 21px 81px 21px 54px;
  background: #FFC85E;
  border-radius: 79px;
  color: #FFFFFF;
  cursor: pointer;
}
.dw .headerContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
}
.dw .headerContacts .headerContactsDesk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 5px;
}
.dw .headerCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.dw .headerCart .cartImg {
  position: relative;
}
.dw .headerCart .cartPositions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -11px;
  right: -11px;
  height: 22px;
  width: 22px;
  z-index: 2;
  color: #FFFFFF;
  background: #FFC85E;
  border-radius: 100%;
  border: 3px solid #FFFFFF;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}
h2 span {
  color: #FFC85E;
}

h1 {
  font-weight: 500;
  font-size: 70px;
  line-height: 110%;
}

.subTitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: #3F4E65;
  margin-bottom: 35px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
main .mainBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .mainBanner img {
  width: 100%;
  z-index: -1;
  display: inline;
  position: relative;
}
main .mainBanner .mainBannerDeskFx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  position: absolute;
  margin-left: 14.17%;
  width: 29.68%;
  color: #FFFFFF;
}
main .mainBanner .mainBannerDeskFx .mainBannerDeskTitle {
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .mainBanner .mainBannerDeskFx .mainBannerDeskPromo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  margin-top: 71px;
}
main .mainBanner .mainBannerDeskFx .mainBannerDeskPromo .mainBannerDeskPromoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: calc((100% - 35px) / 2);
}
main .mainBanner .mainBannerDeskFx .mainBannerDeskPromo .mainBannerDeskPromoDot {
  height: 39px;
  width: 39px;
  background: #FFC856;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
main .mainBanner .mainBannerDeskFx .mainBannerDeskPromo .mainBannerDeskPromoText {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  width: calc(100% - 10px - 39px);
}
main .poprProds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 14.4%;
}
main .poprProds :first-child {
  margin-bottom: 50px;
}
main .poprProds .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 21px;
}
main .poprProds .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  padding: 45px 23px 26px 23px;
  gap: 10px;
  margin: 0;
  width: calc((100% - 63px) / 4);
}
main .poprProds .items .item .imgItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .poprProds .items .item img {
  max-width: 200px;
}
main .poprProds .items .item .itemFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .poprProds .items .item .itemFlex .inCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}
main .prodsCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 14.4%;
  gap: 15px;
}
main .prodsCategory .prodsCategoryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main .prodsCategory .prodsCategoryFlexItem {
  width: calc((100% - 120px) / 5);
}
main .stock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0 14.4%;
  background: -webkit-gradient(linear, left bottom, left top, from(#B7BFCA), color-stop(65.9%, #BDC7D0), to(#BDC7D1));
  background: linear-gradient(0deg, #B7BFCA 0%, #BDC7D0 65.9%, #BDC7D1 100%);
  -webkit-box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
          box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}
main .stock img {
  text-align: right;
  border-radius: 10px;
}
main .stock .stockDesk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  width: 42.12%;
  margin-left: 8.05%;
  bottom: 22%;
  left: 0;
  position: absolute;
  z-index: 2;
  color: #FFFFFF;
}
main .stock .stockDesk .stockDeskNote {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
main .stock .stockDesk .stockDeskTitle {
  font-weight: 800;
  font-size: 70px;
  line-height: 110%;
  margin-bottom: 25px;
}
main .stock .stockDesk .stockDeskСondition {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 40px;
}
main .stock .stockSlide {
  position: absolute;
  top: 50%;
  left: -33.5px;
  width: 104.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .stock .stockSlide .stockSlideItem {
  border: #FFFFFF solid 26px;
  background: #FFFFFF;
  border-radius: 100%;
}
main .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin: 0 14.4%;
}
main .brands .brandsSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .brands .scrollBrands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}
main .brands .scrollBrands .scrollPointerActive {
  width: 26px;
  height: 7px;
  background: #FFC85E;
  border-radius: 100px;
}
main .brands .scrollBrands .scrollPointer {
  border: #3F4E65 solid 3px;
  opacity: 0.1;
  border-radius: 100px;
  width: 16px;
  height: 7px;
}
main .infoDesk {
  font-weight: 400;
  font-size: 14px;
  line-height: 130.02%;
  color: #3F4E65;
}
main .mainContacts {
  margin: 0 14.4%;
  position: relative;
}
main .mainContacts iframe {
  width: 100%;
}
main .mainContacts .mainContactsInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  position: absolute;
  width: 735px;
  height: 424px;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 50px;
  padding-top: 60px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  top: 0;
}
main .mainContacts .mainContactsInfo .infoTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #3F4E65;
}
main .mainContacts .mainContactsInfo .infoSubTitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  color: #3F4E65;
}
main .mainContacts .mainContactsInfo .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  width: 566px;
}
main .mainContacts .mainContactsInfo .contactInfo .contactInfoItem {
  width: calc((100% - 15px) / 2);
  border-bottom: 1px dashed rgba(63, 78, 101, 0.2);
  padding-bottom: 25px;
}
main .mainContacts .mainContactsInfo .contactInfo .contactInfoItem :first-child {
  margin-bottom: 10px;
}

footer {
  margin: 141px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgb(63, 78, 101);
  padding: 71px 277px 116px 277px;
  color: white;
  gap: 59px;
}
footer .fst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  gap: 15px;
}
footer .fst .obr {
  position: relative;
}
footer .fst .obr input {
  height: 59px;
  width: 90%;
  padding: 13px 10px 13px 20px;
  border-radius: 40px;
  color: rgb(92, 99, 112);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  border: none;
}
footer .snd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .snd :first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .adaptivHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(63, 78, 101, 0.1);
  }
  .adaptivHeader .adHeaderItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .adaptivHeader .adHeaderItem .adHeaderItemPoint {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
    width: 100%;
  }
  .header {
    display: none;
  }
  .dw {
    display: none;
  }
  main {
    width: 100%;
    gap: 50px;
  }
  main .mainBanner {
    width: 100%;
  }
  main .mainBanner .mainBannerDeskFx {
    margin: 0 15px;
    width: 100%;
    gap: 10px;
  }
  main .mainBanner .mainBannerDeskFx .mainBannerDeskTitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
  }
  main .mainBanner .mainBannerDeskFx .inCart {
    display: none;
  }
  main .mainBanner .mainBannerDeskFx h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
  }
  main .mainBanner .mainBannerDeskFx .mainBannerDeskPromo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
    gap: 10px;
  }
  main .mainBanner .mainBannerDeskFx .mainBannerDeskPromo .mainBannerDeskPromoItem {
    color: #3F4E65;
    width: 100%;
  }
  main .mainBanner .mainBannerDeskFx .mainBannerDeskPromo .mainBannerDeskPromoItem .mainBannerDeskPromoDot {
    width: 18px;
    height: 18px;
  }
  main .poprProds {
    margin: 50px 15px;
  }
  main .poprProds :first-child {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 25px;
  }
  main .poprProds .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .poprProds .items .item {
    display: none;
  }
  main .poprProds .items .itemAd {
    display: block;
  }
  main .prodsCategory {
    width: 100%;
    margin: 0 15px;
  }
  main .prodsCategory .prodsCategoryFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .prodsCategory .prodsCategoryFlex .prodsCategoryFlexItem {
    min-width: 100px;
  }
  main .prodsCategory .prodsCategoryFlex .prodsCategoryFlexItem img {
    width: 140px;
    height: 166px;
  }
  main .stock {
    margin: 0 10px;
    width: 100%;
  }
  main .stock img {
    width: 100%;
  }
  main .stock .stockDesk {
    gap: 5px;
  }
  main .stock .stockDesk .stockDeskNote {
    font-weight: 500;
    font-size: 6px;
    line-height: 185%;
    letter-spacing: 0.2em;
    margin-bottom: 0;
  }
  main .stock .stockDesk .stockDeskTitle {
    font-weight: 800;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 10px;
  }
  main .stock .stockDesk .stockDeskСondition {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  main .stock .stockSlide {
    width: 100%;
  }
  main .stock .stockSlide .stockSlideItem {
    border: 15px;
  }
  main .brands .brandsSlide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .brands .brandsSlide .slideItem {
    display: none;
  }
  main .brands .brandsSlide .siActive {
    display: block;
  }
  main .mainContacts {
    display: none;
  }
  footer {
    padding: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 25px;
  }
  footer .fst {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .fst input {
    width: 100%;
  }
  footer .footerContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  footer .footerContact .snd .price {
    display: none;
  }
}