*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
}
//HEADER STYLE
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 277px;
    .hrDesk{
        display: flex;
        gap: 40px;
        .hrFlex{
            display: flex;
            gap: 18.33px;
            justify-content: center;
            align-items: center;
        }
    }
    .nav{
        display: flex;
        gap: 60px;
    }
}
.dw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(63, 78, 101, 0.2);
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);
    padding: 24px 277px;
    .catalogBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 21px 81px 21px 54px;
        background: #FFC85E;
        border-radius: 79px;
        color: #FFFFFF;
        cursor: pointer;
    }
    .headerContacts{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        .headerContactsDesk{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 5px;
        }
    }
    .headerCart{
        display: flex;
        gap: 24px;
        .cartImg{
            position: relative;
        }
        .cartPositions{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -11px;
            right: -11px;
            height: 22px;
            width: 22px;
            z-index: 2;
            color: #FFFFFF;
            background: #FFC85E;
            border-radius: 100%;
            border: 3px solid #FFFFFF;
        }
    }
}
//MAIN STYLE
h2{
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    span{
        color: #FFC85E;
    }
}
h1{
    font-weight: 500;
    font-size: 70px;
    line-height: 110%;
}
.subTitle{
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: #3F4E65;
    margin-bottom: 35px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    .mainBanner{
        display: flex;
        align-items: center;
        img {
            width: 100%;
            z-index: -1;
            display: inline;
            position: relative;
        }
        .mainBannerDeskFx{
            display: flex;
            flex-direction: column;
            gap: 40px;
            position: absolute;
            margin-left: 14.17%;
            width: 29.68%;
            color: #FFFFFF;
            .mainBannerDeskTitle{
                font-weight: 800;
                font-size: 30px;
                line-height: 150%;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .mainBannerDeskPromo{
                display: flex;
                justify-content: space-between;
                gap: 35px;
                margin-top: 71px;
                .mainBannerDeskPromoItem{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: calc((100% - 35px) / 2);
                }
                .mainBannerDeskPromoDot{
                    height: 39px;
                    width: 39px;
                    background: #FFC856;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                }
                .mainBannerDeskPromoText{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;  
                    width: calc(100% - 10px - 39px);
                }
            }
            
        }

    }
    .poprProds{
        display: flex;
        flex-direction: column;
        margin: 0 14.40%;
        :first-child{
            margin-bottom: 50px;
        }
        .items{
            display: flex;
            flex-wrap: wrap;
            gap: 21px;
        .item{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
            padding: 45px 23px 26px 23px;
            gap: 10px;
            margin: 0;
            width: calc((100% - 63px) / 4);
            .imgItem{
                display: flex;
                justify-content: center;
            }
            img{
                max-width: 200px;
            }
            .itemFlex{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .inCart{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 184px;
                    height: 59px;
                    background: #FFC85E;
                    border-radius: 79px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }
    }
    .prodsCategory{
        display: flex;
        flex-direction: column;
        margin: 0 14.40%;
        gap: 15px;
        .prodsCategoryFlex{
            display: flex;
            gap: 30px;
            align-items: stretch;
        }
        .prodsCategoryFlexItem{
            width: calc((100% - 120px) / 5);
        }
    }
    .stock{
        position: relative;
        display: flex;
        justify-content: right;
        margin: 0 14.40%;
        background: linear-gradient(0deg, #B7BFCA 0%, #BDC7D0 65.9%, #BDC7D1 100%);
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
        border-radius: 10px;
        img{
            text-align: right;
            border-radius: 10px;
        }
        .stockDesk{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            width: 42.12%;
            margin-left: 8.05%;
            bottom: 22%;
            left: 0;
            position: absolute;
            z-index: 2;
            color: #FFFFFF;
            .stockDeskNote{
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.3em;
                text-transform: uppercase;
            }
            .stockDeskTitle{
                font-weight: 800;
                font-size: 70px;
                line-height: 110%;
                margin-bottom: 25px;
            }
            .stockDeskСondition{
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                margin-bottom: 40px;
            }
        }
        .stockSlide{
            position: absolute;
            top: 50%;
            left: -33.5px;
            width: 104.90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .stockSlideItem{
                border: #FFFFFF solid 26px;
                background: #FFFFFF;
                border-radius: 100%;
            }
        }
    }
    .brands{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 14.40%;
        .brandsSlide{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
        }
        .scrollBrands{
            display: flex;
            justify-content: center;
            gap: 6px;
            .scrollPointerActive{
                width: 26px;
                height: 7px;
                background: #FFC85E;
                border-radius: 100px;
            }
            .scrollPointer{
                border: #3F4E65 solid 3px;
                opacity: 0.1;
                border-radius: 100px;
                width: 16px;
                height: 7px;
            }
        }
    }
    .infoDesk{
        font-weight: 400;
        font-size: 14px;
        line-height: 130.02%;
        color: #3F4E65;
    }
    .mainContacts{
        margin: 0 14.40%;
        position: relative;
        iframe{
            width: 100%;
        }
        .mainContactsInfo{
            display: flex;
            flex-direction: column;
            gap: 15px;
            position: absolute;
            width: 735px;
            height: 424px;
            margin-top: 30px;
            margin-left: 30px;
            padding-left: 50px;
            padding-top: 60px;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(15px);
            border-radius: 8px;
            top: 0;
            .infoTitle{
                font-weight: 500;
                font-size: 40px;
                line-height: 120%;
                color: #3F4E65;
            }
            .infoSubTitle{
                font-weight: 300;
                font-size: 20px;
                line-height: 120%;
                /* identical to box height, or 24px */
                color: #3F4E65;
            }
            .contactInfo{
                display: flex;
                gap: 15px;
                width: 566px;
                .contactInfoItem{
                    width: calc((100% - 15px) / 2);
                    border-bottom: 1px dashed rgba(63, 78, 101, 0.2);
                    padding-bottom: 25px;
                    :first-child{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

//FOOTER STYLE

footer{
    margin: 141px 0 0 0;
    display: flex;
    justify-content: space-around;
    background: rgba(63, 78, 101, 1);
    padding: 71px 277px 116px 277px;
    color: white;
    gap: 59px;
    .fst{
        display: flex;
        flex-direction: column;
        width: 320px;
        gap: 15px;
        .obr{
            position: relative;
            input{
                height: 59px;
                width: 90%;
                padding: 13px 10px 13px 20px;
                border-radius: 40px;
                color: rgba(92, 99, 112, 1);
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                border: none;
            }

        }

    }
    .snd{
        display: flex;
        flex-direction: column;
        gap: 20px;
        :first-child{
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }
}
@media screen and (max-width: 600px){
    header{
        display: none;
    }
    main{
        width: 100%;
        gap: 50px;
        .mainBanner{
            width: 100%;
            .mainBannerDeskFx{
                margin: 0 15px;
                width: 100%;
                gap: 10px;
                .mainBannerDeskTitle{
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 150%;
                }
                .inCart{
                    display: none;
                }
                h1{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 110%;
                }
                .mainBannerDeskPromo{
                    flex-direction: column;
                    margin-top: 150px;
                    gap: 10px;
                    .mainBannerDeskPromoItem{
                        color: #3F4E65;
                        width: 100%;
                        .mainBannerDeskPromoDot{
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
        .poprProds{
            margin: 50px 15px;
            :first-child{
                font-weight: 800;
                font-size: 20px;
                line-height: 120%;
                margin-bottom: 25px;
            }
            .items{
                flex-direction: column;
                .item{
                    display: none;
                }
                .itemAd{
                    display: block;
                }
            }
        }
        .prodsCategory{
            width: 100%;
            margin: 0 15px;
            .prodsCategoryFlex{
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .prodsCategoryFlexItem{
                    min-width: 100px;
                    img{
                        width: 140px;
                        height: 166px;
                    }
                }
            }
        }
        .stock{
            margin: 0 10px;
            width: 100%;
            img{
                width: 100%;
            }
            .stockDesk{
                gap: 5px;
                .stockDeskNote{
                    font-weight: 500;
                    font-size: 6px;
                    line-height: 185%;
                    letter-spacing: 0.2em;
                    margin-bottom: 0;
                }
                .stockDeskTitle{
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 110%;
                    margin-bottom: 10px;
                }
                .stockDeskСondition{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 120%;
                    margin-bottom: 10px;
                }
            }
            .stockSlide{
                width: 100%;
                .stockSlideItem{
                    border: 15px;
                }
            }
        }
        .brands{
            .brandsSlide{
                justify-content: center;
                .slideItem{
                    display: none;
                }
                .siActive{
                    display: block;
                }
            }
        }
        .mainContacts{
            display: none;
        }
    }
}
footer{
    display: none;
}




